p{
  text-align: left;
  margin-left: 20px}
#name{
  text-align: center;
  padding: 5px;
  font-size: 40px;
  font-family: "Times New Roman";}
.highlight{
  background-color: yellow;}
*{
  color: black;}
p > strong{
  background-color:red;}
li::after{
  content: '*';}
ul{
  list-style-type: square;}
.center {
  margin: auto;
  width: 50%;
  padding: 5px;
  text-align: center;
}
form > label{
  font-size: 14px;}
body{
  background-color: green;}
.bullets::before{
    content:"• ";}
table, th, td { 
   border: 1px solid gray; 
} 
a:hover {
  color: blue;
}

  
  
